*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 20;
  }

a{
    text-decoration: none;
}
  
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 48px;
    height: 60px;
  }
  
.navbar a {
    color: white;
    /* font-weight: 300; */
    
        &:hover{
            color: rgb(214, 191, 16);
        }
  }
  
.navbar__menu_container {
    display: flex;
    gap: 20px;
  }

.hero {
    display: flex;
    position: relative;
    min-height: calc(100vh - 100px);
}

.hero::after {
    content: '';
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .2) 15%, transparent 85%);
}

.hero .img {
    width: 100%;
    object-fit: cover;
}

.hero .info {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}


.hero .info .text {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffffc0;
}

.button {
    background-color: #fff;
    color: #000;
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-size: 28px;
    text-align: center;
    padding: 10px 50px;
    margin: 10px 0px -200px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.button:hover {
    background-color: #fff;
    color: #c71d1d;
}

.blank{
  position: absolute;
  height: 100dvh;
  width: 100dvw;
}
